@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>
<p>Welcome to the product list page.</p>
<ul>
    <li>Shoes</li>
    <li>Headphones</li>
    <li>phones</li>
    <li>Monitors</li>
</ul>  