<footer class="border-top footer py-3 text-muted fixed-bottom">
    <div class="container ">
        &copy; @DateTime.Now.Year - MyPortfolioApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>