@model ConfirmDeleteViewModel

@{
    ViewData["Title"] = "Confirm Delete";
    var game = Model;
}

<h1 style="color: crimson;">@ViewData["Title"]</h1>

<div class="card shadow">
    <form asp-action="DeleteGame" asp-controller="Games" asp-route-id="@game.Id" method="post">
        <input type="hidden" asp-for="Id" value="@game.Id">
        <div class="card-body">
            <p class="display-4">Are you sure you want to delete @game.Title?</p>
            <p>This action is not reversible.</p>
        </div>
        <div class="card-footer text-end">
            <a href="/games/@game.Id" class="btn btn-outline-danger me-2">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete Game</button>
        </div>
    </form>
</div>