@{
    ViewData["Title"] = "About Us";
    var username = "Happy";
}
<h1>@ViewData["Title"]</h1>

<p>This is the About Us page of our application.</p>
<h2>Welcome back, @username</h2>
<p>The sum of 2 + 2 is @(2 + 2)</p>