@{
    ViewData["Title"] = "Loops Example";
    var colors = new List<string> { "Red", "Green", "Blue", "Yellow", "Purple" };

}

<h1>Loops</h1>
@for(int i = 0; i < colors.Count; i++)
{
    <p>@colors[i]</p>
}

 <h3>Foreach Loop</h3>
@foreach(var color in colors)
{
    <p>@color</p>
}

