ul > li {
    color: green;
}

li {
    color: purple
}

a {
    color: red;
}

ul > li a {
    color:darkorange
}

article {
    color: yellow;
}

h2 {
    color: brown;
}

p {
    color: blue;
}

article h2 + p {
    color: pink;
}
