@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Message is not null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>You have successfully logged out!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center align-items-center" style="height: 500px;">
    <div class="text-center">
        <h1 class="display-4"><strong>AuthForge</strong></h1>
    </div>
</div>