@{
    Layout = "_BlogLayOut";
    ViewData["Title"] = "Blog Post2";
}
<h1>Online Bookstore App</h1>

<p>Here’s a story worth sharing: I developed an Online Bookstore App that fetches books from an API, allows readers to manage their own collections, and saves them locally for easy access. It’s a project that combines my love for learning with practical coding experience, showcasing how clean design and smooth functionality can work together.</p>