@{
    Layout = "_BlogLayOut";
    ViewData["Title"] = "Blog Post1";
}
<h1>Recipe App</h1>

<p>Welcome to Recipe Haven, the app that takes the stress out of cooking. Whether you’re craving a quick weekday dinner, exploring international cuisines, or planning a full-course meal, our app helps you discover, save, and organise recipes with ease. Every recipe comes complete with ingredients, step-by-step instructions, and cooking tips to make your experience smooth. You can bookmark favourites, create shopping lists, and even share your best dishes with friends. Cooking has never been this fun, simple, and organised everything you need is right at your fingertips.
</p>