@{
    Layout = "_BlogLayOut";
    ViewData["Title"] = "Blog Post3";
}
<h1>Vehicle Maintenance App</h1>

<p>Staying connected matters, for people and for vehicles. I built a Vehicle Maintenance & Insurance Sync App that helps drivers track inspections, insurance details, and service records. Built with a JavaScript frontend and C# .NET backend, it highlights my ability to bridge frontend experiences with solid backend logic.</p>