@model AlbumFormViewModel

@{
    ViewData[index: "Title"] = "Add Album";
    AlbumFormViewModel? album = Model;
    ViewData[index: "BackgroundClass"] = "bg-vinyl";
}

<h1 class="display-2">Add Album</h1>

<div class="card shadow-lg" style="max-width: 900px;">
    <form asp-action="Create" asp-controller="Albums" method="post">
        <div class="card-body">
            <div class="row mt-2 ms-3">
                <div class="row">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="form-text text-danger"></span>
                </div>
                <div class="row">
                    <label asp-for="Artist" class="form-label"></label>
                    <input asp-for="Artist" class="form-control">
                    <span asp-validation-for="Artist" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="text-end m-3">
                <a href="/albums/@album.Id" class="btn btn-sm btn-outline-primary me-2">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Add Album</button>
            </div>
        </div>
    </form>
</div>