@model HeroRegistrationViewModel

@{
    ViewData["Title"] = "Hero Registration Form";
    var heroTypes = ViewBag.HeroTypes as List<string> ?? new List<string>();
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="form-text text-danger"></div>

<div class="container card shadow bg-secondary bg-gradient">
    <div class="card-body">
        <form asp-action="processHeroRegistration" asp-controller="Hero" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Username: </label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="HeroType" class="form-label">Hero Type: </label>

                <select class="form-select" asp-for="HeroType" aria-label="herotype">
                    <option value="" selected="true" disabled="disabled">Select Hero Type</option>
                    @foreach(var hero in heroTypes)
                    {
                     <option value="@hero">@hero</option>
                    }
                </select>

                <span asp-validation-for="HeroType" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Level" class="form-label">Level: </label>
                <input asp-for="Level" class="form-control">
                <span asp-validation-for="Level" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email: </label>
                <input type="email" asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <div class="text-end">
                <button class="btn btn-warning" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>